*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", Helvetica, sans-serif;
}
h1,h2,h3,h4,h5 {
  font-weight: 300;
}

.controls{
  padding: 2%;
  background: #333;
  color: #eee;
}

.well-lg {
    -webkit-transition: all 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -o-transition: all 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition: all 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
}
.panel-default>.panel-heading {
      padding: 20px;
}
.panel-default>.panel-heading.programming-skills {
    color: #FFF;
    background-color: #A75C8C;
}
.panel-default>.panel-heading.design-skills {
    color: #FFF;
    background-color: #52579E;  
}
.panel-default>.panel-heading.ios-skills {
    color: #FFF;
    background-color: #14B8D0;
}

label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button{
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

button.active{
  background: #68b8c4;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.skill-map{
  padding: 2% 2% 0;
  text-align: justify;
  font-size: 0.1px;  
  -webkit-backface-visibility: hidden;
}

.skill-map:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.skill-map .mix,
.skill-map .gap{
  display: inline-block;
  width: 49%;
}

.skill-map .mix{
  text-align: left;
  background: #03899c;
  margin-bottom: 2%;
  display: none;
  border-radius: 4px;
}
.skill-map .mix:hover{
  border: solid #000 4px;
}

.skill-map .mix.programming-skills{
  background-color: #A75C8C;
  border: solid #CA9AB8 4px;
}

.skill-map .mix.ios-skills{
  background-color: #14B8D0;
  border: solid #94D8E2 4px;
}
.skill-map .mix.design-skills{
  background-color: #52579E;
  border: solid #9599D4 4px;
}
.skill-map .mix:after{
  content: attr(data-name);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}

.skill-map .mix:before{
  content: '';
  display: inline-block;
  padding-top: 60%;
}

@media all and (min-width: 420px){
  .skill-map .mix,
  .skill-map .gap{
    width: 32%;
  }
}
.skill-map.list .mix{
  width: 100%;
}

.skill-map.list .mix:before{
  padding-top: 40px;
}

a.mix:hover {
  border: solid rgba(255,255,255,0.6) 4px !important;
}
a.mix:focus {
    -webkit-box-shadow: inset 0px 0px 7px 1px rgba(117,117,117,0.7) !important;
    -moz-box-shadow: inset 0px 0px 7px 1px rgba(117,117,117,0.7) !important;
    box-shadow: inset 0px 0px 7px 1px rgba(117,117,117,0.7) !important;
  border: solid rgba(0,0,0,0.1) 4px !important;
}