@font-face {
    font-family: Neuzeit;
    src: url(fonts/Neuzeit_Book.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Neuzeit;
    src: url(fonts/Neuzeit_Book_Heavy.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Knockout;
    src: url(fonts/Knockout.otf);
}
body {
  font-family: Neuzeit, Helvetica, sans-serif;
}
h1, .h1 {
  font-family: Knockout, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 56px;
}
.well {
  height: 60%;
}
.card-icon {
  vertical-align: middle;
}
.skill-counter {
  font-size: 18px;
}
.learning-backlog-text, .learning-backlog-text h3 {
  color: rgba(0,0,0,0.4);
  font-weight: 700;
}
/* Stacked Panels */
.faux-panel {
    border: 1px solid;
    border-color: #ddd;
    height: 5px;
    border-radius: 4px 4px 0 0;
    border-bottom: 0;
    margin: 0 4px 0 4px;
    background: #FEFEFE;
}
.faux-1st {
    margin: 0 4px 0 4px;
    background: #FEFEFE;
}
.faux-2nd {
    margin: 0 8px 0 8px;
    background: #FCFCFC;
}
/* END Stacked Panels */
/* Font Awesome Checkboxes */
input.check-round {
  visibility: hidden;
  height: 26px;
  width: 40px;
  margin-bottom: 10px;
}
input.check-round:checked:after, input.check-round:after{
  visibility: visible;
  font-family: FontAwesome;
  font-size:3em;
}
input.check-round:checked:after {
  content: '\f058';
  color: #269A26;
  vertical-align: middle;
}
input.check-round:after {
  content: '\f05d';
  color: rgba(0,0,0,0.2);
  vertical-align: middle;
}
/* END Font Awesome Checkboxes */