<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Fixed Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="dashboard.html">Mapt</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="select-goal.html">Skill Up</a></li>
            <li class="active"><a href="library.html">Library</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <form class="search navbar-form navbar-left search-nav-collapse">
                <div class="form-group pull-right form-group-inline">
                    <div class="input-group">
                        <input class="form-control" name="query" value="" type="text" placeholder="Search for Courses...">
                        <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></span>
                    </div>
                </div>
            </form>
            <li><a href="#contact"><i class="fa fa-question-circle fa-lg mr5"></i> Help</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle navbar-avatar-link hidden-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/000/222/015/06be2f6.jpg" alt="..." class="img-circle img-responsive navbar-avatar">
                        </a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">You are signed in as Oli Huggins</li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Manage Subscription</a></li>
                <li><a href="#">Manage Account</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="jumbotron heading">
        <div class="container">
          <h1>Library</h1>
          <ol class="breadcrumb row mt0">
            <li><a href="library.html">Courses</a></li>
            <li class="active mt5">Search Results</li>
          </ol>
        </div>
    </div>

    <div class="container">
      <div class="row">
      <div class="col-sm-3">
          <div class="list-group">
              <a href="tech-page.html" class="list-group-item">Books <span class="badge">636</span></a>
              <a href="tech-page.html" class="list-group-item">Videos <span class="badge">84</span></a>
              <a href="tech-page.html" class="list-group-item">Arduino</a>
              <a href="tech-page.html" class="list-group-item">Blender</a>
              <a href="tech-page.html" class="list-group-item">Bootstrap</a>
              <a href="tech-page.html" class="list-group-item">Data Analysis</a>
              <a href="tech-page.html" class="list-group-item">Django</a>
              <a href="tech-page.html" class="list-group-item">Docker</a>
              <a href="tech-page.html" class="list-group-item">Drupal</a>
              <a href="tech-page.html" class="list-group-item">Graphics Programming</a>
              <a href="tech-page.html" class="list-group-item">Hadoop</a>
              <a href="tech-page.html" class="list-group-item">Infrastructure Automation</a>
              <a href="tech-page.html" class="list-group-item">Internet of Things</a>
              <a href="tech-page.html" class="list-group-item">iOS</a>
              <a href="tech-page.html" class="list-group-item">Java</a>
              <a href="tech-page.html" class="list-group-item">JavaScript</a>
              <a href="tech-page.html" class="list-group-item">jQuery</a>
              <a href="tech-page.html" class="list-group-item">Kali Linux</a>
              <a href="tech-page.html" class="list-group-item">Laravel</a>
              <a href="tech-page.html" class="list-group-item">Linux</a>
              <a href="tech-page.html" class="list-group-item">Machine Learning</a>
              <a href="tech-page.html" class="list-group-item">Mobile Application Development</a>
              <a href="tech-page.html" class="list-group-item">NodeJS</a>
              <a href="tech-page.html" class="list-group-item">OpenCV</a>
              <a href="tech-page.html" class="list-group-item">Open Stack</a>
              <a href="tech-page.html" class="list-group-item">Oracle</a>
              <a href="tech-page.html" class="list-group-item">Penetration Testing</a>
              <a href="tech-page.html" class="list-group-item">PHP</a>
              <a href="tech-page.html" class="list-group-item">PostgreSQL</a>
              <a href="tech-page.html" class="list-group-item">Python</a>
              <a href="tech-page.html" class="list-group-item">QlikView</a>
              <a href="tech-page.html" class="list-group-item">R</a>
              <a href="tech-page.html" class="list-group-item">Raspberry Pi</a>
              <a href="tech-page.html" class="list-group-item">Scala</a>
              <a href="tech-page.html" class="list-group-item">Spark</a>
              <a href="tech-page.html" class="list-group-item">Spring</a>
              <a href="tech-page.html" class="list-group-item">Swift</a>
              <a href="tech-page.html" class="list-group-item">Unity</a>
              <a href="tech-page.html" class="list-group-item">WordPress</a>
          </div>
      </div>
      <div class="col-sm-9">
        <div class="form-group  form-group-inline mb15">
          <div class="input-group input-group-lg">
              <input class="form-control" name="query" value="JavaScript" type="text" placeholder="Search for Courses...">
              <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></span>
          </div>
        </div>
        <p class="lead">Found 720 results for 'javascript'</p>
        <div class="">
          <div class="list-group">
              
          </div>
                        <div class="panel panel-default mt15">
                            <ul class="list-group">
              <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>Docker Cookbook</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
              <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>Learning Docker</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>Mastering Python</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>JavaScript and JSON Development</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>MEAN Web Development</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>PHP for Beginners</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>JavaScript Cookbook</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>Design Patterns with AngularJS</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>Mastering MEAN</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>Mastering AngularJS </b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>Wordpress for Advanced Developers</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>Web Design Fundamentals</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>Docker Cookbook</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
              <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>Learning Docker</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>Mastering Python</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>JavaScript and JSON Development</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>MEAN Web Development</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>PHP for Beginners</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>JavaScript Cookbook</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>Design Patterns with AngularJS</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>Mastering MEAN</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>Mastering AngularJS </b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>Wordpress for Advanced Developers</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
               <a href="tech-page.html" class="list-group-item">
                <h5 class="concat"><b>Web Design Fundamentals</b></h5>
                <p><small>By Shu-Wai Chow</p></small>
                <p><small class="title-duration ng-binding"><i class="fa fa-clock-o mr5"></i>9 hours 07 minutes</small>
                   <small class="pull-right mr10 ng-binding" ng-show="item.ss_cck_field_date_of_publication">Sep 2007</small>
                 </p>
               </a>
                            </ul>
                            <div class="panel-footer text-right" ng-show="searchPages.length > 1">
                                <nav>
                                    <ul class="pagination">
                                        <li id="paginationNumber" ng-click="$event.preventDefault();click_pagination(prevLink, prevLinkDisabledClass);" class="disabled">
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">«</span>
                                            </a>
                                        </li>
                                        <li ng-repeat="page in searchPages" id="paginationNumber" class="active page-li " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">1</a>
                                        </li>
                                        <li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">2</a>
                                        </li>
                                        <li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">3</a>
                                        </li>
                                        <li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">4</a>
                                        </li>
                                        <li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">5</a>
                                        </li>
                                        <li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">6</a>
                                        </li><!-- end ngRepeat: page in searchPages --><li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">7</a>
                                        </li><!-- end ngRepeat: page in searchPages --><li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">8</a>
                                        </li><!-- end ngRepeat: page in searchPages --><li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">9</a>
                                        </li><!-- end ngRepeat: page in searchPages --><li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">10</a>
                                        </li><!-- end ngRepeat: page in searchPages --><li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">11</a>
                                        </li><!-- end ngRepeat: page in searchPages --><li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">12</a>
                                        </li><!-- end ngRepeat: page in searchPages --><li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">13</a>
                                        </li><!-- end ngRepeat: page in searchPages --><li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">14</a>
                                        </li><!-- end ngRepeat: page in searchPages --><li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">15</a>
                                        </li><!-- end ngRepeat: page in searchPages --><li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">16</a>
                                        </li><!-- end ngRepeat: page in searchPages --><li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">17</a>
                                        </li><!-- end ngRepeat: page in searchPages --><li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">18</a>
                                        </li><!-- end ngRepeat: page in searchPages --><li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">19</a>
                                        </li><!-- end ngRepeat: page in searchPages --><li ng-repeat="page in searchPages" id="paginationNumber" class=" " ng-click="$event.preventDefault();click_pagination(page.number);">
                                                <a href="#" class="ng-binding">20</a>
                                        </li><!-- end ngRepeat: page in searchPages -->
                                        <li id="paginationNumber" ng-click="$event.preventDefault();click_pagination(nextLink, nextLinkDisabledClass);" class=""> 
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">»</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
      </div>
    </div>
      
      
          
      </div>
      <div class="col-sm-12">
          
      </div>
    </div>
  </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>